# eclipse specific
.project
.metadata
.settings/
.buildpath

# backup files
*~

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

#phpstorm

.idea/*
.iws
*/.idea/workspace.xml
*/.idea/tasks.xml


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# composer
composer.phar
