{% extends '::base.html.twig' %}
{% block title %} Mobile Presentation Control Unit {% endblock %}


{% block body %}
	<h3>Choose the role of this Station</h3>
	{{ form(form_sender) }}
	{{ form(form_reciever) }}
{% endblock %}

{% block javascripts %}
{% endblock %}