{% extends '::base.html.twig' %}
{% block title %} Mobile Presentation Control Unit {% endblock %}


{% block body %}
	<div id="form_create">
		<h3>Create a Session</h3>
		{{ form(form_create) }}
	</div>
	<div id="form_login">
		<h3>Login to existing Session</h3>
		{{ form(form_login) }}
	</div>
{% endblock %}

{% block javascripts %}
	
{% endblock %}