{% extends '::base.html.twig' %}
{% block title %} Mobile Presentation Control Unit {% endblock %}


{% block body %}

	<div id="form_create">
		{{ form(register_form) }}
	</div>
{% endblock %}

{% block javascripts %}
	
{% endblock %}